<% if (typeof msgDanger!='undefined') { %>
    <div class="alert alert-success">   <i class="fas fa-info"></i>   <%-msgDanger %>
  
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
    </div>
  <% } %>
  
  <section class="header">
      <div class="container">
        <h1 class="title">
          
        </h1>
        <p class="subtitle">
          <strong>PLANLARIM</strong>
        </p>
      </div>
      <div class="columns is-mobile">
        <div class="column is-1 ml-2"><div class="logout">   <form action="/" method="get"><button class="button is-link" type="submit"><i class="fa fa-map info-button"></i>&nbsp Seyahatler</button></form></div></div>
        <div class="column is-1"><div class="logout">   <form action="/plans" method="get"><button class="button is-info" type="submit" disabled><i class="fa fa-suitcase info-button"></i>&nbsp Planlarım</button></form></div></div>
        <div class="column is-half"><div class="logout">   <form action="/" method="get"><button class="button is-warning" type="submit"><i class="fa fa-comment info-button"></i>&nbsp Seyahat Önerileri</button></form></div></div>
        <div class="column is-2"></div>
        <div class="column is-1"><div class="logout">   <form action="/logout" method="post"><button class="button is-danger" type="submit"><i class="fa fa-sign-out logout-button"></i>&nbsp Çıkış Yap</button></form></div></div>
      </div>
      
      
      
      <hr class="header-hr">
  </section>
  
  

  <section class="section" id="main-content">
    <div class="columns is-multiline">
      <div class="column p-5 is-one-third">
        <%- include("./partials/plan_card.ejs", { "isMyPlan":true , "imgUrl": "https://images.unsplash.com/photo-1731613309340-eecea7c12ee3?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "name":"Rize Astina Dağları","category":"Orman","description":"Rize astina dağlarında yapılacak 3 günlük konaklamalı gezisi ufkunuzu açacak","lat":'40° 41′ 24.16"N',"long":" 74° 02′ 33.63″ W" }) %>
      </div>
      <div class="column p-5 is-one-third">
        <%- include("./partials/plan_card.ejs", { "isMyPlan":true , "imgUrl": "https://images.unsplash.com/photo-1730406851326-808a50bac63a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "name":"Rize Astina Dağları","category":"Orman","description":"Rize astina dağlarında yapılacak 3 günlük konaklamalı gezisi ufkunuzu açacak","lat":'40° 41′ 24.16"N',"long":" 74° 02′ 33.63″ W" }) %>
      </div>
      <div class="column p-5 is-one-third">
        <%- include("./partials/plan_card.ejs", { "isMyPlan":true , "imgUrl": "https://images.unsplash.com/photo-1724271364158-aa8baa615cf0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "name":"Rize Astina Dağları","category":"Orman","description":"Rize astina dağlarında yapılacak 3 günlük konaklamalı gezisi ufkunuzu açacak","lat":'40° 41′ 24.16"N',"long":" 74° 02′ 33.63″ W" }) %>
      </div>
      <div class="column p-5 is-one-third">
        <%- include("./partials/plan_card.ejs", { "isMyPlan":true , "imgUrl": "https://images.unsplash.com/photo-1724527758754-a1a5ac2860ed?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "name":"Rize Astina Dağları","category":"Orman","description":"Rize astina dağlarında yapılacak 3 günlük konaklamalı gezisi ufkunuzu açacak","lat":'40° 41′ 24.16"N',"long":" 74° 02′ 33.63″ W" }) %>
      </div>
      <div class="column p-5 is-one-third">
        <%- include("./partials/plan_card.ejs", { "isMyPlan":true , "imgUrl": "https://images.unsplash.com/photo-1733218875809-78c2d54e5195?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "name":"Rize Astina Dağları","category":"Orman","description":"Rize astina dağlarında yapılacak 3 günlük konaklamalı gezisi ufkunuzu açacak","lat":'40° 41′ 24.16"N',"long":" 74° 02′ 33.63″ W" }) %>
      </div>
      <div class="column p-5 is-one-third">
        <%- include("./partials/plan_card.ejs", { "isMyPlan":true , "imgUrl": "https://images.unsplash.com/photo-1725590137329-f182b5a8fac3?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "name":"Rize Astina Dağları","category":"Orman","description":"Rize astina dağlarında yapılacak 3 günlük konaklamalı gezisi ufkunuzu açacak","lat":'40° 41′ 24.16"N',"long":" 74° 02′ 33.63″ W" }) %>
      </div>
    </div>
  </section>
  