
    <div class="<%= isMyPlan==true ? "my-favorite card" : "card" %>">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src=<%=imgUrl %>
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <button class="favorite-button" id="favoriteButton">
                <span class="icon favorite-icon" >
                  <i class="fas fa-heart"></i>
                </span>
              </button>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%=name %></p>
            <p class="subtitle is-6"><%=category %></p>
          </div>
        </div>
    
        <div class="content">
          <%=description %>
          <br />
          <time><%=long %> - <%=lat %></time>
        </div>
      </div>
    </div>